<section class=" container">
<form class="form">
     <h2 class="form_title"> New Transference</h2>

     <div class = "form_field">
       <label class="form_field_label1" for="value"> Value</label>
       <input class="form_field_input" id = "value" type="text">
     </div>

     <div>
       <label class="form_field_label1" for="destiny"> Destiny</label>
       <input class="form_field_input" id = "destiny" type="text">
     </div>

     <div class="button-wrapper">
     <button class="button">Transference</button>
    </div>
   </form>
  </section>
