.container{
  display: flex;
  align-content: center;
  justify-content: center;
}
.formulario {
  border-style: solid;
  border-color: #369c38;
  background-color: aliceblue;
  padding: 16px;
  border-radius: 8%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
  .formulario .formulario_titulo {
    text-transform: capitalize;
    text-align: center;
    color: #369c38;
  }


.form-field {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  color: darkblue;
}

.form-field .form-field_label{
    color: inherit;
    margin-bottom: 4px;
    font-size: 12px;
  }

.form-field .form-field_input{
    padding: 8px;
    border-radius: 4px;
    color: inherit;
    border: 2px solid;
    outline: none;
  }


.botao-wrapper {
  display: flex;
}

.botao {
  background-color: #369c38;;
  color: white;
  display: block;
  flex: 1;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding: 0.5em;
  cursor: pointer;
  transition: opacity 0.2s;
}

.botao:hover {
    opacity: 0.8;
  }

